// >>>----------------------------->>> HELPER STYLES <<<-----------------------------<<< 

// Theme Color
.theme-color {
	background-color: $primary_color;
}


// Custom Spacer
// ----------------- 
.rmd-empty-space,
.rmd-xs-empty-space,
.rmd-sm-empty-space,
.rmd-md-empty-space,
.rmd-lg-empty-space {
	@include empty_space;
}

@media only screen and (min-width : 320px), (max-width: 320px) {
	.rmd-xs-empty-space {
		display:block;
	}
	.rmd-sm-empty-space {
		display:none;
	}
	.rmd-md-empty-space {
		display:none;
	}
	.rmd-lg-empty-space {
		display:none;
	}
}

/* / Small Devices, Tablets /*/
@media only screen and (min-width : 768px) {
    .rmd-xs-empty-space {
		display:none;
	}
	.rmd-sm-empty-space {
		display:block;
	}
	.rmd-md-empty-space {
		display:none;
	}
	.rmd-lg-empty-space {
		display:none;
	}
}

/*/ Medium Devices, Desktops /*/
@media only screen and (min-width : 992px) {
	.rmd-xs-empty-space {
		display:none;
	}
	.rmd-sm-empty-space {
		display:none;
	}
	.rmd-md-empty-space {
		display:block;
	}
	.rmd-lg-empty-space {
		display:none;
	}
}

/*/ Large Devices, Wide Screens /*/
@media only screen and (min-width : 1200px) {
 	.rmd-xs-empty-space {
		display:none;
	}
	.rmd-sm-empty-space {
		display:none;
	}
	.rmd-md-empty-space {
		display:none;
	}
	.rmd-lg-empty-space {
		display:block;
	}
}




// Custom Alignment
// -------------------- 

@mixin rmd_default_text_alignment() {
	.rmd-xs-text-center,
	.rmd-sm-text-center,
	.rmd-md-text-center,
	.rmd-lg-text-center,
	.rmd-xs-text-right,
	.rmd-sm-text-right,
	.rmd-md-text-right,
	.rmd-lg-text-right,
	.rmd-xs-text-left,
	.rmd-sm-text-left,
	.rmd-md-text-left,
	.rmd-lg-text-left,
	.rmd-xs-text-justify,
	.rmd-sm-text-justify,
	.rmd-md-text-justify,
	.rmd-lg-text-justify {
		text-align: initial !important;
	}
}

@media only screen and (min-width : 320px), (max-width: 320px) {

	@include rmd_default_text_alignment;

	.rmd-xs-text-center {
		text-align: center !important;
	}
	.rmd-xs-text-right {
		text-align: right !important;
	}
	.rmd-xs-text-left {
		text-align: left !important;
	}
	.rmd-xs-text-justify {
		text-align: justify !important;
	}
}

/* / Small Devices, Tablets /*/
@media only screen and (min-width : 768px) {
	
	@include rmd_default_text_alignment;

    .rmd-sm-text-center {
		text-align: center !important;
	} 
	.rmd-sm-text-right {
		text-align: right !important;
	}
	.rmd-sm-text-left {
		text-align: left !important;
	}
	.rmd-sm-text-justify {
		text-align: justify !important;
	}
}

/*/ Medium Devices, Desktops /*/
@media only screen and (min-width : 992px) {
	
	@include rmd_default_text_alignment;

	.rmd-md-text-center {
		text-align: center !important;
	} 
	.rmd-md-text-right {
		text-align: right !important;
	}
	.rmd-md-text-left {
		text-align: left !important;
	}
	.rmd-md-text-justify {
		text-align: justify !important;
	}
}


/*/ Large Devices, Wide Screens /*/
@media only screen and (min-width : 1200px) {
	
	@include rmd_default_text_alignment;

 	.rmd-lg-text-center {
		text-align: center !important;
	} 
	.rmd-lg-text-right {
		text-align: right !important;
	}
	.rmd-lg-text-left {
		text-align: left !important;
	}
	.rmd-lg-text-justify {
		text-align: justify !important;
	}
}




// Background Fluid - merely intended for background images and color
// ---------------------------------------------------------------------
.rmd-background-fluid {
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;  
    background: no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    width: 100vw;  
    margin-left: -50vw;
    left: 50%;  
    opacity: 1;
}


// Container Fluid - merely intended for content that requires full width container
// ---------------------------------------------------------------------------------
.rmd-container-fluid {
	@extend .rmd-background-fluid;
    position: relative; 
}
