

// Variables for buttons
// --------------------------------------------------------------------------------
$button_border_radius: 0px;
$theme_button_bgcolor: $primary_color; 
$theme_button_textcolor: #fff;
$theme_button_bgcolor_hover: $secondary_color; 
$theme_button_textcolor_hover: #fff;